{% extends 'base.html' %}


{% block content %}
   {% include 'manager/messages.html' %}
<!--start form-->
  <br><br>
<div class="container shadow p-3 " style="width:95%;max-width:500px;">
  <form class="row g-3 " method="post" action="{% url 'manager_login' %}">
      {% csrf_token %}
<h3 style="text-align: center">Manager Login</h3>

  <div class="col-12">
    <label for="inputAddress" class="form-label">User ID</label>
    <input type="text" name="userid" class="form-control" id="inputAddress" placeholder="Enter Manager Userid" required>
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="inputAddress" placeholder="Enter Manager Password " required>
  </div>

     <center>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Login</button>
  </div>
         </center>
</form>
    </div>
  <!--End form-->
{% endblock %}
